<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.va.lua</id>
	<name>Lua scripting for bots</name>
	<description>This plugin enables Lua scripting for bot conditions.</description>
	<author>Webgroup Media, LLC.</author>
	<version>0.0.13</version>
	<link>http://cerb.ai/</link>
	<!--<image>plugin.png</image>-->

	<!-- Requirements -->

	<requires>
		<app_version min="8.0" max="8.0.99" />
		<php_extension name="lua" />
	</requires>

	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="8.0.0" />
	</dependencies>

	<!-- Extensions -->
 
	<extensions>
		<!-- Event Conditions -->
		
		<extension point="devblocks.event.condition">
			<id>wgm.va.lua.condition</id>
			<name>LUA Condition</name>
			<class>
				<file>api/App.php</file>
				<name>WgmVaLua_EventCondition</name>
			</class>
			<params>
				<param key="label" value="Run a Lua script" />
				<param key="events">
					<value>
						<data key="*" />
					</value>
				</param>
			</params>
		</extension>

	</extensions> 
</plugin>
